@import "../../../../styles/utils.scss";
@import "../../../../styles/func.scss";

.profileMini {
  width: get-vw(150px);
  height: get-vh(750px);
  margin-right: 10px;

  .container {
    border-radius: 4px;
    height: get-vh(300px);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .headerNick {
      margin-top: 15px;
      font-weight: bold;
    }

    .headerImg {
      margin-top: 15px;
      width: get-vw(100px);
      height: get-vh(120px);
      border-radius: 50%;
    }

    .headerEmail {
      font-size: 0.8rem;
      margin: 2rem 0 0.5rem 0;
    }

    .headerPhone {
      font-size: 0.8rem;
    }
  }
}
