@import "../../../../../styles/func.scss";

.followList {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid lightgray;
  padding: 10px 0;
  background-color: white;

  .profileImg {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 0 10px;
  }

  .nickname {
    font-size: rem(14px);
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
