@import "../../../../../styles/variables.scss";

.headerFollow {
  .followBtn,
  .unfollowBtn {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }

  .followBtn {
    color: $blueColor;

    &:hover {
      color: $blueHoverColor;
    }
  }

  .unfollowBtn {
    color: $cancleColor;

    &:hover {
      color: $cancleHoverColor;
    }
  }
}
