@import "../../../styles/func.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/utils.scss";

.makeTag {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;

  .insert {
    display: flex;
    align-items: center;

    .tagText {
      width: get-vw(200px);
      height: rem(25px);
      margin-right: 1rem;
      border: 1px solid $borderColor;
      outline: none;
    }

    .tagSubmit {
      @include flexSort;
      background-color: white;
      height: rem(25px);
      outline: none;
      padding: 5px;
      border: 1px solid $borderColor;
      font-size: rem(12px);
      margin-right: 20px;
    }

    .tagSubmit:hover {
      cursor: pointer;
    }
  }

  .tagPlace {
    display: flex;
    font-size: rem(13px);
    color: blue;

    div {
      margin-right: rem(10px);
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
