@import "../../../../styles/variables.scss";

.postItem {
  width: 100%;
  height: 600px;
  border: 1px solid $borderColor;
  border-top: 3px solid $borderColor;
  position: relative;
  display: flex;
  flex-direction: column;

  .front {
    width: 100%;
    height: 50%;
  }
}
