@import "../../../../styles/utils.scss";
@import "../../../../styles/func.scss";

.pwInput {
  @include input;

  .warning,
  .checkTitle,
  .successTitle {
    font-size: rem(12px);
  }

  .warning {
    color: red;
  }

  .successTitle {
    color: #5e3dea;
  }
}
