@import "../../../styles/func.scss";

.makeContentItem {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);

  .container {
    width: get-vw(500px);
    background-color: white;
    border: 3px solid lightgray;

    .contentBox {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-bottom: 1px solid lightgray;

      .content {
        width: 100%;
        border: 3px solid lightgray;
        resize: none;
        outline: none;
      }
    }
  }
}
