@import "../../../styles/func.scss";
@import "../../../styles/utils.scss";

.makeHeader {
  height: get-vh(50px);
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 1rem;

  .img {
    width: get-vw(15px);
    height: get-vw(15px);
    border-radius: 50%;
  }

  .nickname {
    font-size: rem(14px);
    margin-left: 10px;
  }

  @include mobile {
    .img {
      width: get-vw(30px);
      height: get-vw(30px);
    }
  }
}
