@import "../../../../styles/func.scss";
@import "../../../../styles/utils.scss";

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;

  .label {
    width: get-vw(50px);
    font-size: 0.8rem;
    margin: 0.5rem 0.5rem;
    font-weight: bold;
  }

  .input {
    width: 80%;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 4px;
    outline: none;
  }

  @include mobile {
    .label {
      width: 15%;
      font-size: 10px;
    }
  }
}
