@import "../../../styles/variables.scss";
@import "../../../styles/utils.scss";

.container {
  background-color: $backgroundColor;
  width: 100vw;
  height: 100vh;
  @include flexSort;

  .line {
    margin-top: 2rem;
    width: 2px;
    height: 90%;
    background-color: white;
  }
}
