@import "../../../../styles/func.scss";

.makeHeader {
  width: 100%;
  height: get-vh(50px);
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 1rem;

  .img {
    width: get-vw(20px);
    height: get-vh(25px);
    border-radius: 50%;
  }

  .nickname {
    font-size: rem(14px);
    margin-left: 10px;
  }
}
