@import "../../../styles/utils.scss";

.hashTagPostsHeader {
  width: 70%;
  padding: 20px;

  .hashTag {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;

    .reload {
      margin-right: 10px;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  .length {
    margin-top: 10px;
    font-size: 14px;
  }

  @include mobile {
    width: 100%;
    padding: 10px;
  }
}
