@import "../../../styles/utils.scss";

.hashTagPostsHeader {
  width: 70%;
  padding: 20px;

  .hashTag {
    font-size: 24px;
  }

  .length {
    margin-top: 10px;
    font-size: 14px;
  }

  @include mobile {
    width: 100%;
    padding: 10px;
  }
}
