@import "../../../../styles/func.scss";
@import "../../../../styles/utils.scss";

.profileBody {
  width: get-vw(400px);
  height: 80%;
  padding: 20px;
  @include flexSort;
  flex-direction: column;
  background-color: white;
  border: 1px solid lightgray;

  .imgProfile {
    .profileImage {
      padding: 15px;
      border: 1px solid gray;
      border-radius: 50%;
      width: get-vw(120px);
      height: get-vw(120px);
      cursor: pointer;
    }
  }

  .texts {
    width: 100%;
    margin-top: 20px;
  }

  .introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .introLabel {
    margin-top: 20px;
    font-weight: bold;
  }

  .intro {
    margin-top: 10px;
    width: get-vw(350px);
    height: get-vh(200px);
    resize: none;
    font-size: 1.2rem;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 10px;
    outline: none;
  }

  .btns {
    .editBtn,
    .cancleBtn {
      margin-top: 20px;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      outline: none;
      cursor: pointer;
      color: white;
      font-weight: bold;
    }

    .editBtn {
      margin-left: 10px;
      background-color: $blueColor;

      &:hover {
        background-color: $blueHoverColor;
      }
    }

    .cancleBtn {
      background-color: $cancleColor;

      &:hover {
        background-color: $cancleHoverColor;
      }
    }
  }
}
