@import "../../../../styles/func.scss";
@import "../../../../styles/utils.scss";

.profileBody {
  width: get-vw(400px);
  height: 100%;
  @include flexSort;
  flex-direction: column;
  padding: 20px;
  background-color: lightgray;

  .imgText {
    padding: 10px;
    display: flex;
    align-items: center;

    .imgProfile {
      .profileImage {
        margin: 0 0 10px 10px;
        width: get-vw(140px);
        height: get-vh(180px);
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
      }
    }

    .texts {
      display: flex;
      flex-direction: column;
    }
  }

  .introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .introLabel {
    font-weight: bold;
  }

  .intro {
    margin-top: 0.5rem;
    width: get-vw(350px);
    height: get-vh(300px);
    resize: none;
    font-size: 1.2rem;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 1rem;
    outline: none;
  }

  .editBtn {
    width: 100px;
    height: 50px;
    margin-top: 2rem;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: rgb(180, 125, 21);
    color: white;
  }

  .editBtn:hover {
    cursor: pointer;
    background-color: rgb(107, 79, 28);
  }
}
