@import "../../../../styles/func.scss";
@import "../../../../styles/variables.scss";

.viewItemBody {
  width: 100%;
  flex-grow: 3;
  border-bottom: 1px solid $borderColor;
  position: relative;

  .content {
    margin-top: rem(10px);
    margin-left: rem(10px);
    font-size: rem(13px);
  }

  .tags {
    margin-left: rem(10px);
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: rem(10px);

    .tag {
      margin-right: rem(5px);
      font-size: rem(13px);
      color: rgb(47, 47, 255);

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
