@import "../../../styles/func.scss";
@import "../../../styles/utils.scss";

.profileBody {
  width: get-vw(300px);
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid lightgray;

  .imgProfile {
    .profileImage {
      border: 1px solid gray;
      border-radius: 50%;
      width: get-vw(100px);
      height: get-vw(100px);
      cursor: pointer;
    }
  }

  .texts {
    width: 100%;
    margin-top: 20px;
  }

  .introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .introLabel {
      margin-top: 20px;
      font-weight: bold;
    }

    .intro {
      margin-top: 10px;
      width: get-vw(270px);
      height: 180px;
      resize: none;
      font-size: 1.2rem;
      border: 1px solid lightgray;
      border-radius: 4px;
      padding: 10px;
      outline: none;
    }
  }

  .btns {
    .editBtn,
    .cancleBtn {
      margin-top: 15px;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      outline: none;
      cursor: pointer;
      color: white;
      font-weight: bold;
    }

    .editBtn {
      margin-left: 10px;
      background-color: $blueColor;

      &:hover {
        background-color: $blueHoverColor;
      }
    }

    .cancleBtn {
      background-color: $cancleColor;

      &:hover {
        background-color: $cancleHoverColor;
      }
    }
  }

  @include mobile {
    width: 100%;
    height: 100%;

    .imgProfile {
      .profileImage {
        width: get-vw(400px);
        height: get-vw(400px);
        cursor: pointer;
      }
    }

    .introContainer {
      width: 100%;
      display: flex;
      align-items: center;

      .intro {
        width: 90%;
        height: get-vw(450px);
      }
    }
  }
}
