@import '../../styles/utils.scss';

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    border-right: 1px solid lightgray;
    background-color: white;

    .logo {
        @include flexSort;
        height: 100px;
    }

    .menuList {
        list-style: none;
        padding: 0;

        .menuItem {
            padding: 20px;
            &:hover {
                cursor: pointer;
                background-color: rgb(240, 240, 240);
            }
        }
    }

    .moreBtn {
        position: absolute;
        bottom: 0;
        padding: 20px;
        &:hover {
            cursor: pointer;
            background-color: rgb(240, 240, 240);
        }
    }
}