$base-rem-size: 16px;

@function remove-unit($value) {
  @return ($value / ($value * 0 + 1));
}

@function rem($px) {
  @return (remove-unit($px / $base-rem-size)) * 1rem;
}

@function get-vw($target) {
  $vw-context: (1000 * 0.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function get-vh($target) {
  $vh-context: (1000 * 0.01) * 1px;
  @return ($target/$vh-context) * 1vh;
}
