@import "./utils.scss";

.container {
  @include flexSort;
  width: 100%;
  flex-direction: column;
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;

  .loginImg {
    width: 70%;
    height: 100%;
  }

  .loginItems {
    width: 30%;
    height: 100%;
    background-color: white;
  }

  @include mobile {
    .loginImg {
      display: none;
    }

    .loginItems {
      width: 100%;
    }
  }
}
