@import "./variables.scss";
@import "./func.scss";

@mixin flexSort {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin border {
  border: 1px solid lightgray;
  border-radius: 4px;
}

@mixin input {
  width: 70%;

  .titleInput {
    width: 100%;
    margin-top: rem(15px);
    .label {
      font-size: rem(12px);
      font-weight: bold;
      margin-bottom: 5px;
    }

    .input {
      width: 100%;
      height: get-vh(50px);
      border: 1px solid $borderColor;
    }
  }
}

@mixin loading {
  animation: loading 1s linear forwards infinite;

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
