@import "../../../../styles/func.scss";
@import "../../../../styles/utils.scss";

.makeUpload {
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 16px;

  .uploadBtn {
    @include flexSort;
    background-color: white;
    border: 1px solid lightgray;
    width: 100px;
    height: get-vh(45px);
    outline: none;

    &:hover {
      cursor: pointer;
      background-color: lightgray;
    }

    .loadingSpinner {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid lightgray;
      border-top: 2px solid gray;
      @include loading;
    }
  }

  .uploadImg {
    margin-left: rem(20px);
    height: get-vh(50px);
    object-fit: contain;
  }
}
